
{% extends 'base.html.twig' %}
        {% block content %}
        {% for message in app.flashes('notice') %}
    <div class="flash-notice mt-4 text-center border border-dark bg-success w-25 m-auto pt-3 pb-3 text-light">
        {{ message }}
    </div>
{% endfor %}
{{ form_start(form, { 'attr' : { 'class': 'w-25 m-auto mt-5' } }) }}
    {{ form_row(form.category_name) }}
{{ form_end(form) }}


<table class="table table-striped w-50 m-auto mt-5 mb-5 border border-dark">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td class="text-center">
                  {{category.getCategoryName}}
                </td>
                <td class="border border-dark text-center">
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                    <a href="{{path('delete_category',{'id':category.id}) }}" class ="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}

