
{% extends 'base.html.twig' %}
        {% block content %}
        {% for message in app.flashes('notice') %}
    <div class="flash-notice mt-4 text-center border border-dark bg-success w-25 m-auto pt-3 pb-3 text-light">
        {{ message }}
    </div>
{% endfor %}
{{ form_start(form, { 'attr' : { 'class': 'w-25 m-auto mt-5' } }) }}
    {{ form_row(form.category_name) }}
    {# {{ form_row(form.created_at,{'attr': {'disabled':'disabled'} }) }} #}
{{ form_end(form) }}
{% endblock %}

