
{% extends 'base.html.twig' %}
        {% block content %}
        <div class="col-md-12 col-11 m-auto">
        {% for message in app.flashes('notice') %}
    <div class="flash-notice mt-4 text-center border border-dark bg-success w-25 m-auto pt-3 pb-3 text-light">
        {{ message }}
    </div>
{% endfor %}
{{ form_start(form, { 'attr' : { 'class': 'width-size m-auto mt-5 px-1 px-md-5' } }) }}
    {{ form_row(form.video_name) }}
{{ form_end(form) }}

<table class="table table-striped w-50 m-auto mt-5 mb-5 border border-dark">
    <thead>
        <tr>
            <th>Video name/description</th>
            <th>Video category</th>
            <th>Video file</th>
        </tr>
    </thead>
    <tbody>
        {% for video in videos %}
            <tr>
                <td class="text-start">
                  {{video.getVideoName}}
                </td>
                 <td class="text-start">
                  {{video.getCategory.getCategoryName}}
                </td>
                <td class="text-start">
                  {{video.getVideoFilePath}}
                </td> 
                <td class="border border-dark text-center">
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                    <a href="{{path('delete_video',{'id':video.id}) }}" class ="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}

